:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --accent-background: #2196f3;
}

body {
  font-family: var(--main-font);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

image {
  display: block;
}

.address {
  font-style: normal;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  min-width: 1600px;
}

.company-logo,
.header-nav-list-link:hover,
.header-nav-list-link:focus,
.address-mail:hover,
.address-mail:focus {
  color: var(--accent-color);
}

.modal-btn,
.filters-modal-btn:hover,
.filters-modal-btn:focus {
  background: var(--accent-color);
}

/*header*/

li {
  list-style-type: none; /* видаляєм маркери */
}
ul {
  padding-left: 0; /* список вліво */
}

a {
  text-decoration: none; /* забираєм підкреслення */
}

.company-logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.193;
  letter-spacing: 0.03em;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  margin-bottom: 25px;
  margin-top: 24px;
}

.header-nav-list {
  margin-left: 0px;
  margin-bottom: 32px;
  margin-top: 32px;
}

.header-nav-list-link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.header-nav-list-link_active {
  color: #2196f3;
}

.address-mail,
.address-tel {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
}

/* HERO */

.hero {
  left: 0px;
  top: 80px;
  background: #2f303a;
}

.hero-title {
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 30px;
}

.modal-btn {
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
}

.modal-btn:hover,
.modal-btn:focus {
  background: #188ce8;
}
/* end hero */

/* feature */
.section-feature-list {
  margin-right: 30px;
}
.section-feature-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.section-feature-description {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.715;
  letter-spacing: 0.03em;
  color: #757575;
}

/* sevices */
.section-services-list {
  margin-right: 30px;
}

.section-services-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/* section team */
.section-team {
  background: #f5f4fa;
}

.section-team-list {
  margin-right: 30px;
}

.section-team-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.section-team-subtitle {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.section-team-description {
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/* footer */
.footer {
  background: #2f303a;
}
.footer-address-description {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.715;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-address-mail,
.footer-address-tel {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.715;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-address-description,
.footer-address-mail,
.footer-address-tel {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.715;
  letter-spacing: 0.03em;
}
